{% extends 'base.html' %}
{% block title %} | About{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center text-muted">About</h2>
            <img src="https://thumbs.dreamstime.com/b/modern-buildings-avenue-paseo-de-la-reforma-panorama-aerial-view-mexico-city-cdmx-mexico-avenue-paseo-de-la-reforma-mexico-171506463.jpg"
                class="img-fluid mt-4" alt="CDMX">
        </div>
    </div>
    <div class="row border-bottom">
        <div class="col-sm-8 offset-2 mt-4">
            <p>Wayfarer brings wit and cleverness to travelers by staying on top of the latest vacation trends. Wayfarer
                offers a unique social media experience for travelers, by providing the best travel connected wonderful
                teamwork. Wayfarer is dedicated to the highest quality of travel connected wonderful teamwork delivered
                with energy, wit and humor.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 d-flex justify-content-center mt-5">
            <h1>Meet the Team</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 d-flex align-items-center justify-content-end">
            <img src="https://ca.slack-edge.com/T0351JZQ0-U0263NKBD4Y-38c0b93683f7-512" alt="Phil's Face"
                class="img rounded-circle" style="width: 200px; height: auto;">
        </div>
        <div class="col-6 mt-4">
            <h3>Phil Welsh</h3>
            <h5>San Diego, CA</h5>
            <p>Phil is an avid outdoorsman with dreams of going hunting some day. On occasion, he does yoga. He is a
                proud cat father. Phil also is the inventor of the term 'Zoom mute'. Ask him about it...</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 d-flex align-items-center justify-content-end">
            <img src="https://ca.slack-edge.com/T0351JZQ0-U02CUC9DWS3-147c8b7233e6-512" alt="Michael's Face"
                class="img rounded-circle" style="width: 200px; height: auto;">
        </div>
        <div class="col-6 mt-4">
            <h3>Michael Karr</h3>
            <h5>Dallas, TX</h5>
            <p>Michael is known for his service in the airforce, eating pizza at 10am and being named to Cat Magazine's
                'Best Cat Dad Award' for THREE consecutive years! Michael is Lovely human being with joy in his heart
                and weather on his mind.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 d-flex align-items-center justify-content-end">
            <img src="https://ca.slack-edge.com/T0351JZQ0-U02DN2C37S7-3aaacfee5432-512" alt="Apoorva's Face"
                class="img rounded-circle" style="width: 200px; height: auto;">
        </div>
        <div class="col-6 mt-4">
            <h3>Apoorva Sharma</h3>
            <h5>San Francisco, CA</h5>
            <p>Apoorva has been to the denist twice a year since birth and has some of the sparkliest teeth known to
                mankind. He is the founder of the 'Patriotic Penguins' movement, a cause that supports animals and
                wearing headphones over your sweater hoods.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4 d-flex align-items-center justify-content-end">
            <img src="https://ca.slack-edge.com/T0351JZQ0-U02CNC70K3L-0ce348f4f041-512" alt="Howey's Face"
                class="img rounded-circle" style="width: 200px; height: auto;">
        </div>
        <div class="col-6 mt-4 mb-4">
            <h3>HoweyS</h3>
            <h5>CDMX, Mexico</h5>
            <p>HoweyS is known for being confused about his real name, being a consistent goofball and possessing
                abilities to bother people in cute ways. He is currently seeing a therapist for
                dog-obsession-syndrome...</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="card col-8 offset-2 mt-4 text-center p-5">
            <h3 class="text-muted mb-5">Interested in a career with Wayfarer?</h3>
            <h1 class="text-muted">Don't waste your time... we're not a real company</h1>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12"></div>
</div>
<div class="row mt-5">
    <div class="col-12"></div>
</div>
<div class="row mt-5">
    <div class="col-12"></div>
</div>
<div class="row mt-5">
    <div class="col-12"></div>
</div>
<footer class="text-center text-lg-start bg-dark text-light">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Stay connected with Wayfarer:</span>
        </div>
        <div>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
    <section>
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="d-flex align-items-center text-uppercase fw-bold mb-4">
                        <i class="fas fa-globe fa-3x me-3"></i>Wayfarer
                    </h6>
                    <p>We work hard to bring you the latest and greatest travel tips for all your favorite cities!
                        Support the community and tell us what you know about your favorite cities!</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Destinations</h6>
                    <p>
                        <a href="#!" class="text-reset">Perú</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chile</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Germany</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Japan</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Vacation Ideas</h6>
                    <p>
                        <a href="#!" class="text-reset">Beach</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Outdoors</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">City</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Lake</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p><i class="fas fa-home me-3"></i>Mexico City, MX</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        wayfarer@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +52 (55) 1234-1234</p>
                    <p><i class="fas fa-print me-3"></i> +52 (55) 5678-5678</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">Wayfarer.com</a>
    </div>
</footer>
{% endblock %}