{% extends 'base.html' %}
{% block title %} | About{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center text-muted">About</h2>
            <img src="https://thumbs.dreamstime.com/b/modern-buildings-avenue-paseo-de-la-reforma-panorama-aerial-view-mexico-city-cdmx-mexico-avenue-paseo-de-la-reforma-mexico-171506463.jpg"
                class="img-fluid mt-4" alt="CDMX">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-2 mt-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sit vitae id, aspernatur sed accusantium omnis esse eius commodi inventore. Dolor suscipit voluptatem fugiat laborum dolores quod, hic blanditiis aliquid totam vitae voluptate repudiandae quia saepe vero eius quaerat laudantium rem aperiam tenetur doloremque? Exercitationem, aut odit? At, impedit cumque!</p>
        </div>
    </div>
</div>
{% endblock %}
