{% extends 'base.html' %}
{% block title %} | Cities{% endblock %}
{% block content %}
<div class="container">
    <div class="list-group">
        <div class="d-flex flex-column bd-highlight mb-4 mt-4">

            {% for city in cities %}

                <a href="{% url 'city_detail' city.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="row mt">
                        <div class="col-sm-4">
                            <img src="{{ city.img }}" class="img-thumbnail float-start" class="img-fluid" alt="{{ city.name }}">
                        </div>
                        <div class="col-sm-8">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ city.name }}</h5>
                                <small>{{ city.country }}</small>
                            </div>
                            <p class="mb-1">Population: {{ city.population }}</p>
                            <small>Currency: {{ city.currency }}</small>
                        </div>
                    </div>
                </a>

            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
