{% extends 'base.html' %}
{% block title %} | Home{% endblock %}
{% block content %}

<!-- ORIGINAL LOGIN/REGISTER MODAL STUFF COMMENTED OUT BELOW - MOVED FUNCTIONALITY TO LOGIN/REGISTER PAGE  -->

<!-- <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wayfarer User Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <div class="modal-footer d-block">
                        <p class="float-start">Don't have an account? <a href="#modalRegister" data-bs-toggle="modal" data-bs-target="#modalRegister">Sign Up</a></p>
                        <button type="submit" class="btn btn-warning float-end">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="modal fade" id="modalRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wayfarer User Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> -->

                <!-- <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    </div>
                    need to look into remember me functionality
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <div class="modal-footer d-block">
                        <button type="submit" class="btn btn-warning float-end">Submit</button>
                    </div>
                </form> -->



            <!-- </div>
        </div>
    </div>
</div> -->
<div class="container d-flex flex-column align-items-center">
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://media.istockphoto.com/photos/tourist-visiting-spain-picture-id895081824?k=20&m=895081824&s=612x612&w=0&h=G08TKBIxz8RoaONsnUEsQuiUMn-RWjLs0flI5xD_PA0="
                    class="d-block" style="width: auto; height: 50vh;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Check out Madrid!</h5>
                    <p>Here's some cool stuff about Mardird...</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://image.shutterstock.com/image-photo/covid19-travel-airport-asian-woman-260nw-1629206077.jpg"
                    class="d-block" style="width: auto; height: 50vh;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 >Fly, don't walk!</h5>
                    <p>COVID sucks, but don't walk to your destination.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://media.istockphoto.com/photos/traveler-in-airport-picture-id495963242?k=20&m=495963242&s=612x612&w=0&h=UG40zS6aYx9p0zLJWPHg3Wu7A1Z5W2xhasvrHMsZtLI="
                    class="d-block" style="width: auto; height: 50vh;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark">Wear a mask!</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center m-4">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Travel Tips</h5>
                        <h6 class="card-subtitle mb-2 text-muted">What you need to know...</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Get in the know</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Weekend Getaway</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Top Picks for a quick fix</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">With kids</a>
                        <a href="#" class="card-link">Flyin' solo</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Beach vs. City</h5>
                        <h6 class="card-subtitle mb-2 text-muted">The ins and outs of both</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Beach</a>
                        <a href="#" class="card-link">City</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
