{% extends 'base.html' %}
{% block title %} | Edit Post {% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="d-flex flex-column align-items-center">
        <h1>Create Post</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-control g-0">

                {% for field in form %}
                
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} <br>
                        {{ field }}
                    </div>
                
                {% endfor %}
                
                <nav class="nav">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-success my-2">Submit</button>
                        <a href="{% url 'post_show' post.pk %}" class="btn btn-outline-info">Cancel</a>
                    </div>
                </nav>
            </div>
        </form>
    </div>
</div>
{% endblock %}