{% extends 'base.html' %}
{% block title %} | Show{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
        {% for post in posts %}
        {% if post.img == NULL %}
            <i class="fas fa-glass-cheers fa-8x"></i>
        {% else %}
            <img src="{{ post.img }}" alt="{{ post.name }}" style="width: 200px; height: auto;" >
        {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ post.title }}</h5>
                    <small>{{ post.created_at }}</small>
                </div>
            <p class="mb-1">{{ post.user }}</p>
            <small>{{ post.body }}</small>
        {% endfor %}
        </div>
        <div class="col-3">
            {% if user.is_authenticated %}
                {% for post in posts %}
                    <a href="{% url 'post_update' post.id %}" type="button" class="btn btn-outline-warning mt-4 text-dark">
                        Edit Post
                    </a>
                    <a href="{% url 'post_delete' post.id %}" type="button" class="btn btn-outline-danger mt-4">
                        Delete
                    </a>
                    {% endfor %}
                    {% endif %}
                    <a href="{% url 'city_list' %}" type="button" class="btn btn-outline-info mt-4">
                        Go back
                    </a>
        </div>
        <div class="row mt-4">
            <div class="col-8 offset-4">
            {% for comment in comments %}
                <div class="card mt-4">
                    <!-- <img src="{{ profile.img }}" alt="{{ profile.name }}" class="img-thumbnail"> -->
                    <h3 class="card-title">{{ comment.user }}</h3>
                    <p class="card-body">{{ comment.body }}</p>
                    <small class="ms-3 mb-2">{{ comment.created_at }}</small>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
