{% extends 'base.html' %}
{% block title %} | Profile{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-8">
                    <h1>{{ user.username }}</h1>
                    <h3>{{ profile.current_city }}</h3>
                    <h5>{{ profile.bio }}</h5>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-end">
                    {% if profile.img == NULL %}
                        <i class="fas fa-user-astronaut fa-8x"></i>
                    {% else %}
                        <img src="{{ profile.img }}" alt="{{ profile.name }}" style="width: 200px; height: auto;" >
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <h1>Posts</h1>
                </div>
                <div class="col-sm-8 d-flex align-items-center justify-content-end">
                    <a href="{% url 'profile_update' profile.id %}" type="button" class="btn btn-success btn-lg">
                        Edit Profile
                    </a>
                </div>
            </div>
            <div class="list-group">
                <div class="d-flex flex-column bd-highlight mb-4 mt-4">

                    {% for post in posts %}

                        <a href="{% url 'post_show' post.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="{{ post.img }}" class="img-thumbnail float-end" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-8">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ post.title }}</h5>
                                        <small>{{ post.created_at }}</small>
                                    </div>
                                    <p class="mb-1">{{ post.user }}</p>
                                    <small>{{ post.body }}</small>
                                </div>
                            </div>
                        </a>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
