{% extends 'base.html' %}
{% block title %} | Create Profile {% endblock %}
{% block content %}
<div class="container-fluid mt-4">
  <div class="d-flex justify-content-center">
    <form method="post">
      {% csrf_token %}
      <div class="form-control g-0">
        {% for field in form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} <br>
            {{ field }}
          </div>
        {% endfor %}
        <nav class="nav">
          <div class="col">
            <button type="submit" class="btn btn-outline-success my-2">Create</button>
            <a href="{% url 'profile' %}" class="btn btn-outline-info">Cancel</a>
          </div>
        </nav>
      </div>
    </form>
  </div>
</div>
{% endblock %}